::selected{
    color: var(--textColorDark);
  }
  
html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: var(--bgColor);
    background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));
    color: var(--textColor);
    font-family: 'Saira', sans-serif;
}

div#content{
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 15px;
}

h4#title{
    float: right;
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: 370;
}

.thetitle::before{
    content: "💖";
    float: right;
    margin-right: 2.5em;
}

audio {
    position: fixed;
    visibility: visible;
    left: 90px;
    bottom: 40px;
    width: 910px;
}
  
audio.playing{
    visibility: visible;
    bottom: 10px;
    width: calc(100% - 20px);
}

#thefile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

label.file{
    display: inline-block;
    position: relative;
    left: 150px;
    margin-top: 30px;
    transform: translate3d(-50%, -50%, 0);
    padding: 1rem 2rem;
    border-radius: 4px;
    
    background: var(--paperColor);
    color: var(--textColor);
    font-size: 1.5em;
    font-weight: 300;
    box-shadow: 0 20px 60px var(--shadowColorFaint);
  
    cursor: pointer;
  }
  
  
label.file:hover{
    background: rgb(255, 255, 96);
    opacity: 0.8;
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    font-weight: 345;
}

label.file:active{
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    font-weight: 300;
}

hr#hapticHR{
    width: 340px;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr#visualHR{
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
}


div#userCustom{
    visibility: hidden;
}


#pitchPoint::before{
    content: "Pitch Value:";
}

#pitchValue{
    width: 150px;
}

#tempoPoint::before{
    content: "Tempo Value:";
}

#tempoValue{
    width: 300px;
}

#frequencyPoint::before{
    content: "Frequency Value:";
}

#frequencyValue{
    width: 300px;
}

#amplitudePoint::before{
    content: "Amplitude Value:";
}

#amplitudeValue{
    width: 300px;
}

#timbrePoint::before{
    content: "Timbre Value:";
}

#timbreValue{
    width: 300px;
}




h2#customizeFeatureTitle{
    margin-left: 70px;
}


/* button.musicButton{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
    font-weight: 300;
}

button.visualButton{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
    font-weight: 300;
}

button.visualButtonColors{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
    font-weight: 300;
} */


canvas{
    background-color: black;
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 10000px;
}


div#container{
    width: 10px;
    height: 10px
}

.visual_customizing{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 150px;      
    float: right;
}

.haptic_customizing{
    margin-top: 40px;
    margin-right: 170px;
    float: right;
}


/* /* .dropdownPitch {
    position: relative;
    display: inline-block;
} */

/* .dropdownTimbre {
    position: relative;
    display: inline-block;
}

.dropdownShapes {
    position: relative;
    display: inline-block;
  }

.dropdownGeometry {
    position: relative;
    display: inline-block;
}

.dropdownParticles {
    position: relative;
    display: inline-block;
}

.dropdownLines {
    position: relative;
    display: inline-block;
} */




/* .dropdown-Pitch{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdown-Timbre{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Shapes {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Geometry {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Particles {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Lines {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}



.dropdown-Pitch input {
    padding: 12px 10px;
    width: 110px;
}

.dropdown-Timbre p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.dropdown-Shapes p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.dropdown-Geometry p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.dropdown-Particles p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}



.dropdown-Pitch input:hover {
    background-color: #ddd;
}

.dropdown-Timbre p:hover {
    background-color: #ddd;
    width: 140px;
}

.dropdown-Shapes p:hover {
    background-color: #ddd;
    width: 140px;
}

.dropdown-Geometry p:hover {
    background-color: #ddd;
    width: 140px;
}

.dropdown-Particles p:hover {
    background-color: #ddd;
    width: 140px;
}



.dropdownPitch:hover .dropdown-Pitch {
    display: block;
}

.dropdownTimbre:hover .dropdown-Timbre {
    display: block;
    font-weight: 400;
}

.dropdownShapes:hover .dropdown-Shapes {
    display: block;
    font-weight: 400;
}

.dropdownGeometry:hover .dropdown-Geometry {
    display: block;
    font-weight: 400;
}

.dropdownParticles:hover .dropdown-Particles {
    display: block;
    font-weight: 400;
} */