::selected{
    color: var(--textColorDark);
  }
  
html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: var(--bgColor);
    background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));
    color: var(--textColor);
    font-family: 'Saira', sans-serif;
}

div#content{
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 15px;
}

h4#title{
    float: right;
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: 370;
}

.thetitle::before{
    content: "💖";
    float: right;
    margin-right: 2.5em;
}

audio {
    position: fixed;
    visibility: visible;
    left: 90px;
    bottom: 40px;
    width: 910px;
}
  
audio.playing{
    visibility: visible;
    bottom: 10px;
    width: calc(100% - 20px);
}

#thefile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

label.file{
    display: inline-block;
    position: relative;
    left: 150px;
    margin-top: 20px;
    transform: translate3d(-50%, -50%, 0);
    padding: 1rem 2rem;
    border-radius: 4px;
    
    background: var(--paperColor);
    color: var(--textColor);
    font-size: 1.5em;
    font-weight: 300;
    box-shadow: 0 20px 60px var(--shadowColorFaint);
  
    cursor: pointer;
  }
  
  
label.file:hover{
    background: rgb(255, 255, 96);
    opacity: 0.8;
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    font-weight: 345;
}

label.file:active{
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    font-weight: 300;
}

hr#hapticHR{
    width: 340px;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr#visualHR{
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
}


div#userCustom{
    visibility: hidden;
}



canvas{
    background-color: black;
    margin-top: -80px;
    margin-left: 100px;
}


div#container{
    width: 10px;
    height: 10px
}



nav {
    margin-left: 1100px;
    margin-bottom: 10px;
    padding-bottom: 50px;
	position: relative;
	width: 910px;
	height: 50px;
	background-color: #7e7f83;
	border-radius: 8px;
	font-size: 0;
}


nav p {
	line-height: 50px;
	height: 100%;
	font-size: 23px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;
    font-weight: bold;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .4s ease 0s;
	border-radius: 8px;
}

p:nth-child(1) {
	width: 130px;
}
p:nth-child(2) {
	width: 150px;
}
p:nth-child(3) {
	width: 130px;
}
p:nth-child(4) {
	width: 120px;
}
p:nth-child(5) {
	width: 150px;
}
p:nth-child(6) {
	width: 150px;
}
p:nth-child(7) {
	width: 130px;
}



.dropdownLine {
    display: inline-block;
}

div.dropdownLine:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #1abc9c;
    border-radius: 8px;
}

.dropdown-Line {
    display: none;
    position: absolute;
    background-color: #d1f3ec;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownLine:hover .dropdown-Line {
    display: block;
}





.dropdownSphere {
    display: inline-block;
}

div.dropdownSphere:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #e67a6e;
    border-radius: 8px;
}

.dropdown-Sphere {
    display: none;
    position: absolute;
    background-color: #f2ceca;
    margin-left: -130px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownSphere:hover .dropdown-Sphere {
    display: block;
}




.dropdownRing {
    display: inline-block;
}

div.dropdownRing:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #3498db;
    border-radius: 8px;
}

.dropdown-Ring {
    display: none;
    position: absolute;
    background-color: #bdd7e9;
    margin-left: -260px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownRing:hover .dropdown-Ring {
    display: block;
}




.dropdownBox {
    display: inline-block;
}

div.dropdownBox:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #9b59b6;
    border-radius: 8px;
}

.dropdown-Box {
    display: none;
    position: absolute;
    background-color: #ebd4f3;
    margin-left: -390px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownBox:hover .dropdown-Box {
    display: block;
}




.dropdownTorus {
    display: inline-block;
}

div.dropdownTorus:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #e67e22;
    border-radius: 8px;
}

.dropdown-Torus {
    display: none;
    position: absolute;
    background-color: #fdcf9a;
    margin-left: -520px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownTorus:hover .dropdown-Torus {
    display: block;
}



.dropdownCone {
    display: inline-block;
}

div.dropdownCone:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #e6c922;
    border-radius: 8px;
}

.dropdown-Cone {
    display: none;
    position: absolute;
    background-color: #fff5bb;
    margin-left: -650px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownCone:hover .dropdown-Cone {
    display: block;
}


.dropdownTorus {
    display: inline-block;
}


div.dropdownTorus:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #e67e22;
    border-radius: 8px;
}

.dropdown-Torus {
    display: none;
    position: absolute;
    background-color: #fdcf9a;
    margin-left: -520px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownTorus:hover .dropdown-Torus {
    display: block;
}



.dropdownHeart {
    display: inline-block;
}

div.dropdownHeart:hover {
    display: inline-block;
    width: 130px;
	left: 0;
	background-color: #e585c0;
    border-radius: 8px;
}

.dropdown-Heart {
    display: none;
    position: absolute;
    background-color: #ffd4ee;
    margin-left: -780px;
    width: 910px;
    height: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}


.dropdownHeart:hover .dropdown-Heart {
    display: block;
}


p#menuLine{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: -40px;
    padding: 30px;
    height: 60px;
    text-align: left;
    color: black;
    font-size: 25px;
}

button.pitchLineMenu{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(33, 33, 33) 0%, rgb(162, 162, 162) 100%);
    border: none;
    margin-left: 50px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    color: white;
}

button.pitchLineMenu:focus{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(249, 249, 249) 0%, rgb(182, 182, 182) 100%);
    color: black;
}

button.dynamicLineMenu{
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(33, 33, 33) 0%, rgb(162, 162, 162) 100%);
    border: none;
    margin-left: 50px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    color: white;
}

button.dynamicLineMenu:focus{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(249, 249, 249) 0%, rgb(182, 182, 182) 100%);
    color: black;
}





button.visualButtonColors{
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(248, 140, 140) 0%, rgb(255, 251, 124) 33%, rgb(179, 234, 139) 67%);
    color: black;
    border: none;
    margin-left: 50px;
    width: 170px;
    height: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}



#button:checked ~ ul {
	visibility: visible;
	opacity: 1;
	transform: translateX(-50%) scaleY(1);
}
