::selected{
    color: var(--textColorDark);
  }
  
html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: var(--bgColor);
    background: linear-gradient(135deg, var(--bgColor), var(--bgColorLight));
    color: var(--textColor);
    font-family: 'Saira', sans-serif;
    position: relative;
}

div#content{
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 15px;
}

h4#title{
    float: right;
    margin-top: 50px;
    font-size: 1.3rem;
    font-weight: 340;
}

.thetitle::before{
    content: "💖";
    float: right;
    margin-right: 2.5em;
}

audio {
    position: fixed;
    visibility: visible;
    left: 10px;
    bottom: -10px;
    width: calc(100% - 20px);
}
  
audio.playing{
    visibility: visible;
    bottom: 10px;
    width: calc(100% - 20px);
}

#thefile{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

label.file{
    display: inline-block;
    position: relative;
    left: 150px;
    transform: translate3d(-50%, -50%, 0);
    padding: 1rem 2rem;
    border-radius: 4px;
    
    background: var(--paperColor);
    color: var(--textColor);
    font-size: 1.5em;
    font-weight: 300;
    box-shadow: 0 20px 60px var(--shadowColorFaint);
  
    cursor: pointer;
  }
  
  
label.file:hover{
    background: #FFC300;
    opacity: 0.8;
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    font-weight: 345;
}

label.file:active{
    transform: translate3d(-50%, -55%, 0);
    font-size: 1.5rem;
    font-weight: 300;
}

/* size: 100px; web gl canvas 사이즈 조정하기 */

div#userCustom{
    visibility: hidden;
}

h4#musicFeatureTitle{
    margin-top: 40px;
    margin-left: 90px;
    margin-right: 20px;
    font-weight: 335;
    font-size: 1.2rem;
    float: left;
}

h4#visualFeatureTitle{
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 20px;
    font-weight: 335;
    font-size: 1.2rem;
    float: left;
}



button.musicButton{
    margin-top: 20px;
    margin-right: 7px;
    float: left;
    font-weight: 300;
}

button.visualButton{
    margin-top: 20px;
    margin-right: 7px;
    float: left;
    font-weight: 300;
}

button.visualButtonColors{
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    font-weight: 300;
}



.dropdownShapes {
    position: relative;
    display: inline-block;
  }

.dropdownGeometry {
    position: relative;
    display: inline-block;
}

.dropdownParticles {
    position: relative;
    display: inline-block;
}

.dropdownLines {
    position: relative;
    display: inline-block;
}

.dropdown-Shapes {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Geometry {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Particles {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Lines {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-weight: 300;
}

.dropdown-Shapes p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.dropdown-Geometry p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}

.dropdown-Particles p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}


.dropdown-Lines p {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    font-weight: 300;
}


.dropdown-Shapes p:hover {
    background-color: #ddd;
    width: 140px;
}

.dropdown-Geometry p:hover {
    background-color: #ddd;
    width: 140px;
}

.dropdown-Particles p:hover {
    background-color: #ddd;
    width: 140px;
}

.dropdown-Lines p:hover {
    background-color: #ddd;
    width: 140px;
}



.dropdownShapes:hover .dropdown-Shapes {
    display: block;
    font-weight: 400;
}

.dropdownGeometry:hover .dropdown-Geometry {
    display: block;
    font-weight: 400;
}

.dropdownParticles:hover .dropdown-Particles {
    display: block;
    font-weight: 400;
}

.dropdownLines:hover .dropdown-Lines {
    display: block;
    font-weight: 400;
}


