<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LM with Sentence</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

</head>

<body>

    <h1>LM with Sentence</h1>
    <form action="/result" method="GET" id="inputQueryForm" class="mainPage" form autocomplete="off">
        <input name ="query" id ="inputQuery" class="mainPage" placeholder ="Input Query">
        <br>
        <button type="submit" id="inputQueryShow" href='/result' class="mainPage">Let's Go !</button>

    </form>

</body>
</html>