body {
    background: linear-gradient(90deg, #ffeb55 0%, #e30f75 100%);
}


canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

/* 1. Pitch */

header {
  position: relative;
  margin: 30px 0;
}

header:after {
  content: '';
  width: 460px;
  height: 15px;
  background: url(images/intro-div.svg) no-repeat center;
  display: inline-block;
  text-align: center;
  background-size: 70%;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 30px;
}

.nowplaying {
  font-size: 120px;
  line-height: 1;
  color: #eee;
  text-shadow: 0 0 5rem #028ae9;
  transition: all .07s ease;
  min-height: 120px;
}

.keys {
  display: block;
  width: 100%;
  height: 350px;
  max-width: 850px;
  position: relative;
  margin: 40px auto;
}

.key {
  position: relative;
  border: 4px solid black;
  border-radius: .5rem;
  transition: all .07s ease;
  display: block;
  box-sizing: border-box;
  z-index: 2;
}

.key:not(.sharp) {
  float: left;
  width: 10%;
  height: 100%;
  background: rgba(255, 255, 255, .8);    
}

.key.sharp {
  position: absolute;
  width: 6%;
  height: 60%;
  background: #000;
  color: #eee;
  top: 0;
  z-index: 3;
}

.key[data-key="87"] {
  left: 7%;
}

.key[data-key="69"] {
  left: 17%;
}

.key[data-key="84"]  {
  left: 37%;
}

.key[data-key="89"] {
  left: 47%;
}

.key[data-key="85"] {
  left: 57%;    
}

.key[data-key="79"] {
  left: 77%;    
}

.key[data-key="80"] {
  left: 87%;    
}

.playing {
  transform: scale(.95);
  border-color: #028ae9;
  box-shadow: 0 0 1rem #028ae9;
}

span {
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 7px; 
  left: 30px;
  font-size: 20px;
}


section#wrap{
    margin-top: -10px;
    margin-left: -500px;
}

div#templatePitch{
    margin-top: -380px;
}


button.pitchVisual{
    border-radius: 10px;
    width: 250px;
    height: 150px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-left: 100px;
}


button.pitchVisual:hover{
  background-color: #93d7ff;
}



/* 2. Dynamics */

div#templateDynamic{
  text-align: center;
  display: inline-block;
  width: 1500px;
}

/* #rangeValue {
  visibility: hidden;
  text-align: center;
  margin-top: 50px;
  width: 30px;
  text-align: left;
  font-size: 4em;
  color: rgb(0, 0, 0);
  font-weight: 400;
} */

.range {
  width: 600px;
  height: 30px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e5ff00;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #006efd;
}


section#volume{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

button.dynamicVisual{
  border-radius: 10px;
  width: 200px;
  height: 120px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 100px;
}

button.dynamicVisual:hover{
  background-color: #93d7ff;
}


/* 3. Timbre */

div#templateTimbre{
  text-align: center;
  display: inline-block;
  width: 1500px;
}

section#timbre{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  /* display: inline-block; */
}

button.timbreKinds{
  height: 150px;
  width: 150px;
  font-size: 20px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  cursor: pointer;
  margin-left: 30px;
}

button.timbreKinds:hover{
  background-color: #ffb7da;
}

button.timbreVisual{
  border-radius: 10px;
  width: 200px;
  height: 120px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  border-radius: 5px;
  color: #000000;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-left: 100px;
}

button.timbreVisual:hover{
  background-color: #93d7ff;
}






/* [Pitch] goSomewhere button design */

button#goForwardPitch{
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  background-color: rgb(218, 238, 255);
}

button#goForwardPitch:hover{
  background-color: rgb(170, 214, 251);
}


button#goBackwardPitch{
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  background-color: rgb(218, 238, 255);
}

button#goBackwardPitch:hover{
  background-color: rgb(170, 214, 251);
}


div#goForwardPitch{
  float: right;
  margin-right: 50px;
  margin-top: -300px;
}


div#goBackwardPitch{
  float: left;
  margin-left: 50px;
  margin-top: -300px;
}



/* [Dynamics] goSomewhere button design */

button#goForwardDynamics{
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  background-color: rgb(218, 238, 255);
}

button#goForwardDynamics:hover{
  background-color: rgb(170, 214, 251);
}


button#goBackwardDynamics{
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  background-color: rgb(218, 238, 255);
}

button#goBackwardDynamics:hover{
  background-color: rgb(170, 214, 251);
}


div#goForwardDynamics{
  float: right;
  margin-right: 50px;
  margin-top: -10px;
}


div#goBackwardDynamics{
  float: left;
  margin-left: 50px;
  margin-top: -10px
}




/* [Timbre] goSomewhere button design */

button#goForwardTimbre{
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  background-color: rgb(218, 238, 255);
}

button#goForwardTimbre:hover{
  background-color: rgb(170, 214, 251);
}


button#goBackwardTimbre{
  height: 100px;
  width: 100px;
  font-size: 60px;
  border-radius: 50%;
  border: 0;
  outline: 1;
  background-color: rgb(218, 238, 255);
}

button#goBackwardTimbre:hover{
  background-color: rgb(170, 214, 251);
}


div#goForwardTimbre{
  float: right;
  margin-right: 50px;
  margin-top: -70px;
}


div#goBackwardTimbre{
  float: left;
  margin-left: 50px;
  margin-top: -70px
}







