@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* 맨 처음 로그인 스타일 */
body {
  background: linear-gradient(90deg, #ffeb55 0%, #e30f75 100%);
}

.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

div.form{
  width: 500px;
  position:relative;
}

p {
  font-size: 30px;
}

.form {
  z-index: 1;
  background: #ffffff00;
  border: 3px solid rgb(255, 255, 255);;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 45px;
  text-align: center;
  margin-top: 300px;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #404040;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover {
  background: #000000;
}

/* .form span {
  font-size: 75px;
  color: #9f1a4d;
} */



/* 개인정보 동의서 스타일 */

ul>li{
  list-style: none
}

a{
  text-decoration: none;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

#joinForm{
  width: 900px;
  margin: 150px auto;
}

ul.join_box{border: 0px solid #ddd;background-color: #fff; border-radius: 6px;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: #888;}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;}
.footBtwrap{margin-top: 15px;}
.footBtwrap>li{float: left;width: 50%;height: 60px;}
.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}

button.start{
  margin-left: 200px;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #d99b9b;
  width: 60%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  width: 250px;
}

button#forward{
  background: #d4aaaa;
}

button#back{
  background: #99b8d2;
}

button#forward:hover {
  background: #c6136d;
}

button#back:hover {
  background: hsl(207, 70%, 35%);
}

form.start{
  display: inline;
}


div#nextAction{
  margin-top: -110px;
  margin-left: -170px;
  text-align: center;
}