body {
    background: linear-gradient(90deg, #ffeb55 0%, #e30f75 100%);
  }


button.mainMenu{
    border-radius: 10px;
    width: 400px;
    height: 600px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    border-radius: 5px;
    /* padding: 15px; */
    color: #FFFFFF;
    font-size: 32px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-right: 50px;
    box-shadow: 5px 5px 5px;
}

button#customMenu{
    margin-left: 90px;
    background-color: #F9D371;
}

button#customMenu:hover{
    background-color: #f8c33e;
}

button#exploreMenu{
    background-color: #f0642d;
}

button#exploreMenu:hover{
    background-color: #e9551a;
}

button#listenMenu{
    background-color: #8843F2;
}

button#listenMenu:hover{
    background-color: #621ec7;
}

form.menu-form{
    display: inline;
}

div.menuForm{
    margin: 130px auto;
    text-align: center;
}