@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {

  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  background: #f4f7f5;
  position: relative;
}

input[type=checkbox] {

  zoom: 2.0;
  
}


/* drum UI */
img{
  width: 100px;
  height: 80px;
}

img:active{
  transform: scale(0.7);
  background-image: url(../images/shadow.png);
  background-size: 100px, 80px;
}


.palette {
  margin-top: 25px;
  display: flex;
  height: 10%;
  width: 100%;
  border: 5px solid transparent;
}

.palette .color {
  height: 100%;
  width: 10%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
}

.palette .color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.palette .color:hover {
  flex: 2;
}
.palette .color:hover span {
  opacity: 1;
}






.btn-primary {
  background: black;
}

.btn-square-md {
    margin-top: 30px;
    margin-left: 35px;
    margin-bottom: 20px;
    width: 60px !important;
    height: 60px !important;
    padding: 0px;
    font-size:12px;
    clip-path: inset(10% 10% 10% 10%);

}

.btn-circle-md {
    margin-top: 30px;
    margin-left: 35px;
    height: 60px;
    width: 60px;
    clip-path: circle(50% at 50% 50%);
}


.btn-triangle-md {
  margin-left: 35px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.btn-decagon-md {
  margin-left: 35px;
  width: 60px;
  height: 60px;
  clip-path: polygon(61% 25%, 53% 0%, 42% 24%, 15% 5%, 26% 32%, 2% 25%, 24% 47%, 1% 54%, 25% 61%, 5% 82%, 35% 75%, 30% 96%, 52% 77%, 79% 95%, 73% 74%, 100% 83%, 80% 62%, 100% 42%, 76% 37%, 87% 10%);
}


.btn-star-md {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.circleDraggable {
    position: absolute;
    background-color: rgb(191, 191, 191)
}


#rectangle{
    width: 100px;
    height: 100px;
}

#circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


/* canvas UI */
.sheetContainer {
  /* background-color: rgb(255, 255, 255); */
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
  border-radius: 0.3rem;
  box-shadow: 0 10px 20px #dbdbdb;
  /* margin-top: -1000px; */
  margin-bottom: 680px;
  display: inline-block;
  margin-left: 30px;
}


/* piano UI */
.pianoContainer {
  position: absolute;
  bottom: 0px;
  margin-left: 270px;
  overflow: auto;
}

ul {
    float:left;
    width:48%;
    height: 10%;
    list-style-type: none;
    /* margin: 0 1% 1.5%; */
    padding: 0;
    display: block;
    /* padding:15px 15px 7px 15px; */
}

li {
    display: block;
    float: left;
    width: 20%;
}

ul.x2{
    width:98%;
}

ul.x2 li{
    width:10%;
}

ul {
  height:12em;
  width:40em;
  /* margin:5em auto; */
  /* padding:3em 0 0 3em; */
  position:relative;
  border-radius:1em;
}

li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  float:left
}

ul .white {
  height:8em;
  width:4em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
  /* 버튼 색상 */
}

ul .white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black {
  height:4em;
  width:2em;
  margin:0 0 0 -1em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.re, .mi, .sol, .la, .si {
  margin:0 0 0 -1em
}

ul li:first-child {
  border-radius:5px 0 5px 5px
}

ul li:last-child {
  border-radius:0 5px 5px 5px
}


/* emotion container */

.emotionContainer{
  background-color: rgb(226, 226, 226);
  position: absolute;
  height: 10%;
  width: 30%;
  border-radius: 1rem;
  box-shadow: 0 10px 20px #dbdbdb;
  margin-top: 30px;
  display: inline-block; 
  margin-left: 720px;
  float: right;
}

.emotionButton {
  margin-left: 25px;
  font-size: 13px;
  display: flex;
  width: 70px;
  height: 40px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #a6b6bb 0%, #ccadb6 100%);
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.emotionButton:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px #ca5662, 0px 0.5px 1.5px #bc345b, 0px 0px 0px 3.5px rgba(210, 24, 77, 0.523);
  outline: 0;
}

video {
  margin-left: 50px;
  margin-top: 20px;
  width: 400px;
  height: 300px;
}


/* haptic menu UI*/
.hapticContainer {
    background-color: rgb(252, 252, 252);
    position: absolute;
    width: 480px;
    height: 20%;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: 200px;
    display: inline-block;
    margin-left: -10px;
    /* float: right; */
}




/* .hapticPositionButton {
  margin-left: 30px;
  display: flex;
  width: 100px;
  height: 30px;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: #fff;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */


#H1 {
  background: linear-gradient(180deg, #a32323 0%, #e89292 100%);;
}

#H2 {
  background: linear-gradient(180deg, #54b699 0%, #66cd40 100%);;
}

#H3 {
  background: linear-gradient(180deg, #6981bc 0%, #5e82d8 100%);;
}

.hapticPositionButton:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}


/* visual octave */

.visualOctave {
  float: right;
  margin-top: 50px;
  margin-right: 490px;
}

.visualOctaveButton {
  margin-top: 10px;
  margin-left: 4px;
  display: flex;
  width: 30px;
  height: 50px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #f7994b 0%, #ff8000 100%);
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 12px;
}

.visualOctaveButton:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgb(255, 122, 14), 0px 0.5px 1.5px rgb(255, 106, 0), 0px 0px 0px 3.5px rgb(255, 195, 84);
  outline: 0;
}

.controlContainer {
  float: right;
  margin-top: 50px;
  margin-right: 750px;
}

/* .musicControlButton {
  height: 50px;
  width: 50px;
  background: linear-gradient(180deg, #ab8199 0%, #9795c5 100%);
  border-radius: 50%;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
}

.musicControlButton:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgb(192, 120, 176), 0px 0.5px 1.5px rgb(111, 144, 206), 0px 0px 0px 3.5px rgb(202, 118, 178);
  outline: 0;
} */


.hapticOctave {
  margin-left: 30px;
}


.tempo {
  margin-left: 30px;
}

.dynamics {
  margin-left: 30px;
}





.musicContainer {
  /* background-color: rgb(252, 252, 252); */
  position: absolute;
  height: 20%;
  width: 50%;
  border-radius: 1rem;
  /* box-shadow: 0 10px 20px #dbdbdb; */
  margin-top: 500px;
  display: inline-block; 
  margin-left: 720px;
  float: right;
}


h4 .bigTitle {
  float: left;
  font-size: 14px;
}

p .smallTitle {
  font-size: 30px;
}

hr {
  width : 20%;
}





.btnBlueGreen {
  width: 100px;
  height: 50px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  background: #767676;
}

.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #2c302f;
}




/* @media (min-width: 1500px) { */
  
  /* .menuContainer {
    margin-top: 10px;
    margin-left: 40px;
  } */

  /* #pitchButton{
    width: 100px;
    height: 50px;
  }

  #beatButton{
    width: 100px;
    height: 50px;
  } */

  /* .separator{
    width: 300px;
    height: 800px;
  } */


  /* piano UI */
  
  .pianoContainer {
    position: absolute;
    bottom: 0px;
    margin-left: 320px;
    margin-bottom: -10px;
    overflow: auto;
  }

  ul {
      float:left;
      width:48%;
      list-style-type: none;
      padding: 0;
      display: block;
  }

  li {
      display: block;
      float: left;
      width: 30%;
  }

  ul.x2{
      width:100%;
  }

  ul.x2 li{
      width:10%;
  }


  ul {
    height:32em;
    width:80em;
    /* margin:5em auto; */
    /* padding:3em 0 0 3em; */
    position:relative;
    border-radius:1em;
  }

  li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float:left
  }

  ul .white {
    margin-top: 200px;
    height:9em;
    width:3.6em;
    z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#eee 0%,#fff 100%)
  }

  ul .white:active {
    margin-top: 200px;
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
  }


  .black {
    height:4.5em;
    width:2.2em;
    margin:0 0 0 -1em;
    margin-top: 200px;
    margin-right: -1.5em;
    margin-left: -1.2em;
    z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
  }

  .black:active {
    margin-top: 200px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#444 0%,#222 100%)
  }

  .a,.g,.f,.d,.c {
    margin:0 0 0 -1em
  }

  ul li:first-child {
    border-radius:5px 0 5px 5px
  }

  ul li:last-child {
    border-radius:0 5px 5px 5px
  }


  /* drum UI */
  img{
    /* size: 300px, 150px; */
    width: 220px;
    height: 160px;
  }
  
  img:active{
    transform: scale(0.7);
    background-image: url(../images/shadow.png);
    background-size: 220px, 160px;
  }


  /* visual menu UI*/

  .visualContainer_pitch {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: -10px;
    display: inline-block;
    margin-left: -10px;
    width: 480px;
    height: 20%;
  
  }

  .visualContainer_beat {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: 550px;
    display: inline-block;
    margin-left: -10px;
    width: 480px;
    height: 12%;
  }


  .visualContainer_pitch2 {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: 410px;
    display: inline-block;
    margin-left: -10px;
    width: 480px;
    height: 12%;
  }



  /* haptic menu UI*/

  /* .hapticContainer {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: 410px;
    display: inline-block;
    margin-left: 10px;
    width: 500px;
    float: right;
    height: 22%;
  } */


  .customMenu {
    margin-left: 20px;
  }


  .hapticPositionButton {
    margin-left: 30px;
    display: flex;
    width: 140px;
    height: 30px;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
    color: #fff;
    /* background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%); */
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }


  #H1 {
  background: linear-gradient(180deg, #a32323 0%, #e89292 100%);;
  }

  #H2 {
  background: linear-gradient(180deg, #54b699 0%, #66cd40 100%);;
  }

  #H3 {
  background: linear-gradient(180deg, #6981bc 0%, #5e82d8 100%);;
  }

  .hapticPositionButton:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }

  .musicContainer {
    background-color: transparent;
    position: absolute;
    height: 20%;
    border-radius: 1rem;
    /* box-shadow: 0 10px 20px #dbdbdb; */
    margin-top: 690px;
    display: inline-block; 
    margin-left: 10px;
    width: 500px;
  }
  
  h4 .bigTitle {
    float: left;
    font-size: 14px;
  }
  
  p .smallTitle {
    font-size: 16px;

  }

  p #liner {
    margin-top: -40px;
  }
  
  hr {
    width : 80%;
  }

  /* visual octave */

  .visualOctave {
    float: right;
    margin-top: 50px;
    margin-right: 660px;
  }

  .visualOctaveButton {
    margin-top: 10px;
    margin-left: 4px;
    display: flex;
    width: 50px;
    height: 70px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #f7994b 0%, #ff8000 100%);
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 12px;
  }

  .visualOctaveButton:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgb(255, 122, 14), 0px 0.5px 1.5px rgb(255, 106, 0), 0px 0px 0px 3.5px rgb(255, 195, 84);
    outline: 0;
  }

  .controlContainer {
    margin-top: -50px;
    margin-right: 1000px;
  }

  /* canvas UI */
  .sheetContainer {
    /* position: absolute; */
    /* border-radius: 0.3rem; */
    /* margin-top: -50px; */
    display: inline-block;
    margin-left: 20px;
    width: 1px;
    height: 1px;
  }

  .shapeContainer {
    margin-left: -4px;
    /* box-shadow: 0 10px 20px #dbdbdb; */
    width: 130px;
    height: 800px;
    position: static;
    /* border-radius: 30px; */
    /* padding: 10px 0px; */
    /* background: rgb(255, 255, 255); */
    overflow: auto;
    float: left;
  }
  .colorContainer {
    margin-left: 125px;
    width: 100%;
    /* background-color: white; */
  }

  input[type="range"]{
    -webkit-appearance:none;
    margin-left: 30px;
    width:400px;
    height:20px;
    background-size:500px 10px;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    outline: none;
  }
  
  
  

  .emotionContainer {
    width: 500px;
    height: 400px;
    margin-top: 100px;
    margin-left: 1100px;
  }



  .musicPlay {
    margin-left: 150px;
  }

  .videoControlButton {
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: none;
    color: #fff;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 12px;
  }

  #play {
    background-color: #f4471f;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    margin-left: 20px;
  }

  #save {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    margin-left: 60px;
  }

  #reset {
    background-color: #2a9d8f;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    margin-left: 20px;
  }

  #task {
    background-color: #b72323;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 100px;
    width: 100px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 70%;
    margin-left: 20px;
  }
  
  .volumecontrolButton {
    margin-top: -700px;
  }

  .volumeControl {
    float: right;
    margin-right: 100px;
    margin-top: -70px;
  }

  .menuEmotionContainer {
    float: right;
    margin-top: 50px;
    margin-right: 80px;
  }

  .menuEmotionButton {
    width: 110px;
    height: 40px;
    border-radius: 6px;
    border: none;
    color: #fff;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 15px;
  }

  #happy {
    background-color: rgb(208, 160, 0);
  }

  #sad {
    background-color: rgb(193, 8, 119);
  }

  #exciting {
    background-color: rgb(43, 110, 226);
  }

  #peaceful {
    background-color: rgb(27, 183, 131);
  }

  .textureButton {
    margin-top: 10px;
    margin-left: 35px;
    width: 60px;
    height: 60px;
    outline: 5px solid transparent;
  }

  .textureContainer {
      margin-top: 50px;
      margin-left: 20px;
      box-shadow: 0 10px 20px #dbdbdb;
      width: 130px;
      height: 500px;
      border-radius: 30px;
      padding: 10px 0px;
      background: rgb(255, 255, 255);
      overflow: auto;
      float: left;
    }


  #ProgressBar{
    visibility: hidden;
    margin-left: 20px;
    margin-top: 620px;
    width: 1070px;
    height: 60px;
  }

  #playGlyph{
    margin-left: 20px;
  }

  #saveGlyph{
    margin-left: 30px;
  }

  #eraseGlyph{
    margin-left: 30px;
  }

  #taskGlyph{
    margin-left: 30px;
  }


  span{
    margin-right:2rem
  }
   
   .color{
     display:inline;
     
   }
   
   
   .Palette{
     padding: 5px;
     padding-left: 10px;
   }

   .Palette:hover {
     /* color: rgb(31, 51, 231); */
     background-color: rgb(196, 226, 255);
     /* background-color: rgb(233, 152, 152); */
     /* border-radius: 10px; */
     /* color:rgb(248, 87, 87); */
     
   }
   .Picker{
     /* width: 200px; */
     padding: 5px;
     padding-left: 10px;
   }
   .Picker:hover{
     /* color: rgb(31, 51, 231); */
     background-color: rgb(196, 226, 255);
     /* border-radius: 10px; */
   }
   
   .IroSlider{
     visibility: hidden;
   }


/* } */



@media (max-width: 1500px) {
  /* drum UI */
  img{
    margin-top: -160px;
    margin-left: 50px;
    width: 200px;
    height: 150px;
  }

  img:active{
    transform: scale(0.7);
    background-image: url(../images/shadow.png);
    background-size: 100px, 80px;
  }

  .shapeContainer {
    margin-left: 5px;
    margin-top: 10px;
    box-shadow: 0 10px 20px #dbdbdb;
    width: 130px;
    height: 650px;
    border-radius: 30px;
    padding: 10px 0px;
    background: rgb(255, 255, 255);
    overflow: auto;
    float: left;
  }

  .colorContainer {
    margin-top: 10px;
    /* height: 680px;
    width: 130px; */
    /* border-radius: 1rem; */
    overflow: hidden;
    /* box-shadow: 0 10px 20px #dbdbdb; */
    float: left;
  }

  .btn-square-md {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 50px !important;
    height: 50px !important;
    padding: 0px;
    font-size:12px;
    clip-path: inset(10% 10% 10% 10%);

}

  .btn-circle-md {
      margin-top: 20px;
      margin-left: 40px;
      height: 50px;
      width: 50px;
      clip-path: circle(50% at 50% 50%);
  }


  .btn-triangle-md {
      margin-left: 40px;
      margin-bottom: 20px;
      width: 50px;
      height: 50px;
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  .btn-decagon-md {
    margin-left: 40px;
    width: 50px;
    height: 50px;
    clip-path: polygon(61% 25%, 53% 0%, 42% 24%, 15% 5%, 26% 32%, 2% 25%, 24% 47%, 1% 54%, 25% 61%, 5% 82%, 35% 75%, 30% 96%, 52% 77%, 79% 95%, 73% 74%, 100% 83%, 80% 62%, 100% 42%, 76% 37%, 87% 10%);
  }


  .btn-star-md {
      margin-left: 40px;
      margin-bottom: 20px;
      width: 55px;
      height: 55px;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  }

  .textureButton {
    margin-top: 5px;
    margin-left: 30px;
    width: 45px;
    height: 45px;
    outline: 5px solid transparent;
  }

  .pianoContainer {
    position: absolute;
    bottom: 0px;
    margin-left: 20px;
    margin-bottom: -60px;
    overflow: auto;
  }

  ul {
      float:left;
      width:48%;
      list-style-type: none;
      padding: 0;
      display: block;
  }

  li {
      display: block;
      float: left;
      width: 30%;
  }

  ul.x2{
      width:100%;
  }

  ul.x2 li{
      width:10%;
  }


  ul {
    height:32em;
    width:60em;
    /* margin:5em auto; */
    /* padding:3em 0 0 3em; */
    position:relative;
    border-radius:1em;
  }

  li {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float:left
  }

  ul .white {
    margin-top: 200px;
    height:9em;
    width:2.6em;
    z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#eee 0%,#fff 100%)
  }

  ul .white:active {
    margin-top: 200px;
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
  }


  .black {
    height:4.5em;
    width:1.9em;
    margin:0 0 0 -1em;
    margin-top: 200px;
    margin-right: -1.5em;
    margin-left: -1.0em;
    z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
  }

  .black:active {
    margin-top: 200px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
    background:linear-gradient(to right,#444 0%,#222 100%)
  }

  .a,.g,.f,.d,.c {
    margin:0 0 0 -1em
  }

  ul li:first-child {
    border-radius:5px 0 5px 5px
  }

  ul li:last-child {
    border-radius:0 5px 5px 5px
  }

  #ProgressBar{
    margin-left: 20px;
    margin-top: 470px;
    width: 800px;
    height: 50px;
  }

  /* visual menu UI*/

  .visualContainer_pitch {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: -40px;
    display: inline-block;
    margin-left: 15px;
    width: 280px;
    float: right;
    height: 30%;
  }

  .visualContainer_beat {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: 210px;
    display: inline-block;
    margin-left: 15px;
    width: 280px;
    float: right;
    height: 14%;
  }


  /* haptic menu UI*/

  .hapticContainer {
    background-color: rgb(252, 252, 252);
    position: absolute;
    border-radius: 1rem;
    box-shadow: 0 10px 20px #dbdbdb;
    margin-top: 300px;
    display: inline-block;
    margin-left: 15px;
    width: 280px;
    height: 22%;
  }

  .musicContainer {
    background-color: transparent;
    height: 10%;
    border-radius: 1rem;
    /* margin-top: 530px; */
    /* display: inline-block;  */
    margin-left: -40px;
    width: 600px;
  }

  .videoControlButton {
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    color: #fff;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 12px;
  }
  
  #picker {
    margin-bottom: -50px;
  }

}

p.smallTitle{
  font-size: 16px;
}