.questionButton {
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    background: #767676;
    width: 200px;
    height: 70px;
}

.questionButton {
    box-shadow: 0px 5px 0px 0px #2c302f;
}



.questionButton:hover {
    background: #c52828;
}


#submit:hover{
    background: #e0b30e;
}


.musicContainer {
    float: right;
    width: 500px;
    height: 800px;
    background-color: transparent;
    border-radius: 1rem;
    margin-top: -730px;
    margin-right: 40px;
}


/* canvas UI */
.sheetContainer {
    position: absolute;
    border-radius: 0.3rem;
    margin-top: 50px;
    display: inline-block;
    margin-left: 200px;
    width: 1px;
    height: 1px;
}


#ProgressBar{
    margin-left: 200px;
    margin-top: 700px;
    width: 1070px;
    height: 60px;
}


/* drum UI */
img{
    display: inline; 
    width: 220px;
    height: 160px;
}
        

img:active{
    transform: scale(0.7);
    background-image: url(../images/shadow.png);
    background-size: 220px, 160px;
}



.movepageContainer {
    /* float: right;
    margin-top: -190px;
    margin-right: 60px; */
}


.arrow {
    cursor: pointer;
    position: relative;
    display: block;
    margin: 100px 0 0 100px;
    width: 100px;
    height: 100px;
    border: solid 6px #999;
    border-radius: 100%;
    z-index: 1;
    transition: all 0.2s linear;
}
.arrow:before, .arrow:after {
    content: '';
    position: absolute;
    width: 35%;
    height: 10%;
    top: 41%;
    left: 55%;
    background: #999;
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.2s linear;
}
.arrow:after {
    z-index: 3;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.arrow:hover {
    border: solid 8px rgb(52, 13, 207);
}
.arrow:hover:after, .arrow:hover:before {
    background: rgb(73, 44, 191);
}
.arrow:active {
    border: solid 8px rgb(52, 13, 207);
}
.arrow:active:after, .arrow:active:before {
    background: rgb(31, 0, 155);
}