<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VizHap :: SCI_LAB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" rel="stylesheet" href="../static/src/fonts/icomoon/style.css">
    <link type="text/css" rel="stylesheet" href="../static/src/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="../static/src/css/bootstrap.min.css">
    <!-- Style -->
    <link type="text/css" rel="stylesheet" href="../static/src/css/style.css?after">
    <link rel="stylesheet" href="../static/node_modules/@simonwep/pickr/dist/themes/classic.min.css"/> <!-- 'classic' theme -->
    <link rel="stylesheet" href="../static/node_modules/@simonwep/pickr/dist/themes/monolith.min.css"/> <!-- 'monolith' theme -->
    <link rel="stylesheet" href="../static/node_modules/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->
</head>

<body>


      <aside class="sidebar">
        <div class="toggle">
          <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
          </a>
        </div>
        <div class="side-inner">
  
          <div class="profile">
            <img src="../static/src/images/cutecat.jpeg" alt="Image" class="img-fluid">
            <h3 class="name" id="user_name">{{User_Name}}</h3>
            <span class="identity" id="user_number">P{{User_Number}}</span>
            <br id="musiclist">
            <p id="musiclist">Music List<p>
            <div id="filelist" hidden> {{filelist}} </div>
            <div id="separatedFileList" hidden> {{ separatedFileList}} </div>
            <select id="select-music">
            </select>
            <!-- <br id="musiclist">
            <button id="music_submit"> Submit </button> -->
          </div>
  
          <div id="sidebar-content">
            <audio id="audio" controls></audio>
            <div class="thetitle" id="title"></div>

          </div>
          
          <div class="nav-menu">
            <!-- <!— Form to send Flask—> -->
            <!-- <form action="/abstract" method="POST" form autocomplete="off" enctype="multipart/form-data">
              <label for="thefile" class="file"> Pick a Music 🎺
                  <input type="file" id="thefile" name="thefile" accept="audio/mp3" />
              </label>
              <input type="submit" value="업로드">
            </form> -->
            <ul>
              <li class="accordion">
                <hr>

                <p id="VisuoMenu" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsible">
                <!-- <a href="#" id="VisuoMenu" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsible"> -->
                  🎨 Visualization
                <!-- </a> -->
                </p>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                  <div>
                    <ul>
                      <li type="button" class="VisuoMenus" id="VisuoLine">
                        <input class="check-btn" id="check-VisuoLine" type="checkbox" onclick="change(this, 'customMenu-Line'); highlight_visual(this, 'active-line');"> 
                          <label for="check-VisuoLine"> <div id="active-line">Line</div> </label>
                      </li>
                      <li type="button" class="VisuoMenus" id="VisuoRing">
                        <input class="check-btn" id="check-VisuoRing" type="checkbox" onclick="change(this, 'customMenu-Ring'); highlight_visual(this, 'active-ring');"> 
                          <label for="check-VisuoRing"> <div id="active-ring">Ring</div> </label>
                      </li>

                    </ul>
                  </div>
                </div>
              </li>

              <br>
              
              <li class="accordion">
                <p id="HapticMenu" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsible">
                  👋 Haptic </p>
  
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne">
                  <div>
                    <ul>
                      <li type="button" class="HapticMenus">
                        <input class="check-btn" id="check-Haptic" type="checkbox" onclick="check(this, 'hapticCustom'); highlight_haptic(this, 'active-haptic');"> 
                        <label for="check-Haptic"> <div id="active-haptic">Pattern Filter</div> </label>
                      </li>
                      
                      <form target="_blank" action="/hapticCustom" method="POST" form autocomplete="off" enctype="multipart/form-data">
                        <button type="submit" class="button-73" role="button">Haptic custom</button>
                      </form>

                      <!-- <li><a href="/hapticCustom" target="_blank">Haptic custom
                        <form action="/hapticCustom" method="POST"></form>
                      </a>
                      </li> -->


                    </ul>
                  </div>
                </div>
  
              </li>

              <br>

              <li class="accordion">
                <p id="EmoticMenu" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsible">
                  🤩 Emotion </p>
  
                <div id="collapseThree" class="collapse" aria-labelledby="headingOne">
                  <div>
                    <ul>
                      <li type="button" class="EmoticMenus">
                        <input class="check-btn" id="check-Emotic" type="checkbox" onclick="highlight_haptic(this, 'active-Emotic');"> 
                        <label for="check-Emotic"> <div id="active-Emotic">Predict Emotion</div> </label>
                      </li>
                    </ul>
                  </div>
                </div>
  
              </li>

              <br>


            </ul>
          </div>

        </div>
        
      </aside>
  
  
      <div id="userCustom">#000000</div>
  
      <div class="customMenu">
      <div class="visualCustomMenu" id="customMenu-Line">
        <h5 class="menuTitle">Line Visualization</h5>
        <hr class="menuTitleHR_visual">
        <p id="menusmallTitle_visual"> Pitch </p>
            <button class="pitchMenu" id="pitchLineHeight"> Line Height </button>
            <button class="pitchMenu" id="pitchLineThickness"> Line Thickness </button>
            <button class="pitchMenu" id="pitchLineType"> Line Type </button>
        <br>
        <p id="menusmallTitle_visual"> Dynamics </p>
            <button class="dynamicMenu" id="dynamicLineHeight"> Line Height </button>
            <button class="dynamicMenu" id="dynamicLineThickness"> Line Thickness </button>
            <button class="dynamicMenu" id="dynamicLineColor"> Line Color </button>

        <!-- <p id="menusmallTitle_visual" class="bgcolor"> Background </p>
            <button class="visualButtonColors" type="button"> Colors </button> -->
      </div>
  
  


      <div class="visualCustomMenu" id="customMenu-Ring">
        <h5 class="menuTitle">Ring Visualization</h5>
        <hr class="menuTitleHR_visual">
        <p id="menusmallTitle_visual"> Pitch </p>
            <button class="pitchMenu" id="pitchRingThickness"> Ring Thickness </button>
            <button class="pitchMenu" id="pitchRingSize"> Ring Size </button>
            <button class="pitchMenu" id="pitchRingType"> Ring Type </button>
        <br>
        <p id="menusmallTitle_visual"> Dynamics </p>
            <button class="dynamicMenu" id="dynamicRingThickness"> Ring Thickness </button>
            <button class="dynamicMenu" id="dynamicRingSize"> Ring Size </button>
            <button class="dynamicMenu" id="dynamicRingType"> Ring Type </button>
        <br>
        <!-- <p id="menusmallTitle_visual" class="bgcolor"> Background </p>
            <button class="visualButtonColors" type="button"> Colors </button> -->
      </div>
      </div>

    <main>
        <!--시각 output-->
        <div class="visual-container">
          <div id="canvas">
          </div>
        </div>

        <!-- 햅틱 output -->
        <div id="demo">
          <div id="waveform">
          </div>
        </div>

        <div id="music-controls" >
          <br>
            <button class="btn btn-primary" data-action="play">
                <i class="glyphicon glyphicon-play"></i>
                Play
                /
                <i class="glyphicon glyphicon-pause"></i>
                Pause
            </button>
            <button class="btn btn-success" data-action="toHaptic">
              Select Instruments & toHaptic
            </button>
            <button class="btn btn-info" data-action="SearchHapticDevice">
              SearchHapticDevice
            </button>
            <button class="btn btn-info" data-action="SendHapticPattern">
              <i class="glyphicon glyphicon-play"></i>
                SendHapticPattern
            </button>
            <button class="btn btn-info" data-action="DisconnectHapticDevice">
              <i class="glyphicon glyphicon-stop"></i>
                DisconnectHapticDevice
            </button>
        </div>

        <div class="haptic-container">
          <div class="customMenu">
            <div class="hapticCustomMenu" id="hapticCustom">
              <div class="haptic-controls">
                  <h5 class="menuTitle"> Haptic Pattern Filter </h5>
                  <br>
                  <p id="menusmallTitle_haptic"> Tempo </p>
                  <div class="haptic-tempo">
                      <input data-action="tempo" type="range" min="-45" max="45" value="0" style="width: 100%" /> 
                      &larr; Empty &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Full vibration &rarr;
                  </div>
                  <br>

                  <p id="menusmallTitle_haptic"> Frequency </p>
                  <div class="haptic-frequency">
                    <input data-action="frequency" type="range" min="0" max="22" value="11" style="width: 100%"/>
                      &larr; Rough &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sharp &rarr;
                  </div>
                  <br>

                  <p id="menusmallTitle_haptic"> Amplitude </p>
                  <div class="haptic-amplitude">
                    <input data-action="amplitude" type="range" min="0" max="100" value="50" style="width: 100%"/>
                      &larr; Sharp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strong &rarr;
                  </div>
                  <br>

                  <p id="menusmallTitle_haptic"> Timbre </p>
                  <div class="haptic-timbre">
                      <input data-action="symmetry" type="range" min="-45" max="45" value="0" style="width: 100%" /> 
                      &larr; Asymmetry &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Symmetry &rarr;
                  </div>
            </div>
            </div>
          </div>
        </div>

    </main>

   <!--shader script-->
    <script type="x-shader/x-vertex" id="vertexshader">
			varying vec2 vUv;
			void main() {
				vUv = uv;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			}
		</script>
		<script type="x-shader/x-fragment" id="fragmentshader">
			uniform sampler2D baseTexture;
			uniform sampler2D bloomTexture;
			varying vec2 vUv;
			void main() {
				gl_FragColor = ( texture2D( baseTexture, vUv ) + vec4( 1.0 ) * texture2D( bloomTexture, vUv ) );
			}
    </script>

    <div id="custom_data" hidden>
      <ol id="custom_data_piano"> piano
          <li id="piano_shape">{{data["piano"]["shape"]}}</li>
          <li id="piano_texture">{{data["piano"]["texture"]}}</li>
          <li id="piano_palette_num">{{data["piano"]["palette_num"]}}</li>
          <li id="piano_palette_set">{{data["piano"]["palette_set"]}}</li>
          <li id="piano_interval">{{data["piano"]["interval"]}}</li>
          <li id="piano_size">{{data["piano"]["size"]}}</li>
          <li id="piano_line">{{data["piano"]["line"]}}</li>
      </ol>
      <ol id="custom_data_drum"> Drum
          <li id="drum_shape">{{data["drum"]["shape"]}}</li>
          <li id="drum_texture">{{data["drum"]["texture"]}}</li>
          <li id="drum_color">{{data["drum"]["color"]}}</li>
          <li id="drum_size">{{data["drum"]["size"]}}</li>
      </ol>
      <ol id="custom_data_haptic"> Haptic
          <li id="haptic_sensitivity">{{data["haptic"]["sensitivity"]}}</li>
          <li id="haptic_intensity">{{data["haptic"]["intensity"]}}</li>
      </ol>
    </div>

      
    </script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script> 
    <script src ="https://cdn.jsdelivr.net/npm/stats-js@1.0.1/build/stats.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
    <script type="module" defer src="../static/src/js/dist/abstract.js"></script>
    <!-- F<script type="module" defer src="../static/ts/classifier.js"></script> -->
    <script src="../static/src/js/libs/jquery-3.3.1.min.js"></script>
    <script src="../static/src/js/libs/popper.min.js"></script>
    <script src="../static/src/js/libs/bootstrap.min.js"></script>
    <script src="../static/src/js/libs/bootstrapmain.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/wavesurfer.js"></script>
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.minimap.js"></script>
    <script src="https://unpkg.com/meyda/dist/web/meyda.min.js"></script>


    
</body>
</html>
