<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VizHap :: SCI_LAB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <h1>hello, this is data!</h1>
    <div id="custom_data">
        <ol id="custom_data_happy"> Happy
            <li id="happy_palette">{{data["happy"]["palette"]}}</li>
            <li id="happy_shape">{{data["happy"]["shape"]}}</li>
            <li id="happy_texture">{{data["happy"]["texture"]}}</li>
            <li id="happy_transmission">{{data["happy"]["transmission"]}}</li>
            <li id="happy_roughness">{{data["happy"]["roughness"]}}</li>
            <li id="happy_sensitivity">{{data["happy"]["sensitivity"]}}</li>
            <li id="happy_intensity">{{data["happy"]["intensity"]}}</li>
        </ol>
        <ol id="custom_data_sad"> Sad
            <li id="sad_palette">{{data["sad"]["palette"]}}</li>
            <li id="sad_shape">{{data["sad"]["shape"]}}</li>
            <li id="sad_texture">{{data["sad"]["texture"]}}</li>
            <li id="sad_transmission">{{data["sad"]["transmission"]}}</li>
            <li id="sad_roughness">{{data["sad"]["roughness"]}}</li>
            <li id="sad_sensitivity">{{data["sad"]["sensitivity"]}}</li>
            <li id="sad_intensity">{{data["sad"]["intensity"]}}</li>
        </ol>
        <ol id="custom_data_exciting"> Exciting
            <li id="exciting_palette">{{data["exciting"]["palette"]}}</li>
            <li id="exciting_shape">{{data["exciting"]["shape"]}}</li>
            <li id="exciting_texture">{{data["exciting"]["texture"]}}</li>
            <li id="exciting_transmission">{{data["exciting"]["transmission"]}}</li>
            <li id="exciting_roughness">{{data["exciting"]["roughness"]}}</li>
            <li id="exciting_sensitivity">{{data["exciting"]["sensitivity"]}}</li>
            <li id="exciting_intensity">{{data["exciting"]["intensity"]}}</li>
        </ol>
        <ol id="custom_data_peaceful"> Peaceful
            <li id="peaceful_palette">{{data["peaceful"]["palette"]}}</li>
            <li id="peaceful_shape">{{data["peaceful"]["shape"]}}</li>
            <li id="peaceful_texture">{{data["peaceful"]["texture"]}}</li>
            <li id="peaceful_transmission">{{data["peaceful"]["transmission"]}}</li>
            <li id="peaceful_roughness">{{data["peaceful"]["roughness"]}}</li>
            <li id="peaceful_sensitivity">{{data["peaceful"]["sensitivity"]}}</li>
            <li id="peaceful_intensity">{{data["peaceful"]["intensity"]}}</li>
        </ol>
    </div>

    <script>
        import {
             GetUserCustom
            } from './.js';
    </script>
</body>
</html>