<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VizHap :: SCI_LAB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
    <h1>hello, this is data!</h1>
    <div id="custom_data" hidden>
        <ol id="custom_data_piano"> piano
            <li id="piano_shape">{{data["piano"]["shape"]}}</li>
            <li id="piano_texture">{{data["piano"]["texture"]}}</li>
            <li id="piano_palette_num">{{data["piano"]["palette_num"]}}</li>
            <li id="piano_palette_set">{{data["piano"]["palette_set"]}}</li>
            <li id="piano_interval">{{data["piano"]["interval"]}}</li>
            <li id="piano_size">{{data["piano"]["size"]}}</li>
            <li id="piano_line">{{data["piano"]["line"]}}</li>
        </ol>
        <ol id="custom_data_drum"> Drum
            <li id="drum_shape">{{data["drum"]["shape"]}}</li>
            <li id="drum_texture">{{data["drum"]["texture"]}}</li>
            <li id="drum_color">{{data["drum"]["color"]}}</li>
            <li id="drum_size">{{data["drum"]["size"]}}</li>
        </ol>
        <ol id="custom_data_haptic"> Haptic
            <li id="haptic_sensitivity">{{data["haptic"]["sensitivity"]}}</li>
            <li id="haptic_intensity">{{data["haptic"]["intensity"]}}</li>
        </ol>
    </div>

    <script type="module" src="../static/src/js/Utility/GetUserCustom.js">
        // import {
        //      GetUserCustom
        //     } from '../static/src/js/Utility/GetUserCustom.js';
    </script>
</body>
</html>