<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Music::Palette::beat_task</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <link rel="stylesheet" href="../static/src/fonts/icomoon/style.css">
  <link rel="stylesheet" href="../static/src/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/src/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Styles -->
  <link type="text/css" href="../static/src/css/task.css" rel="stylesheet">
  <link type="text/css" href="../static/src/css/pagemove_beat.css" rel="stylesheet">  
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/linux-biolinum" type="text/css"/>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
  <script defer src=https://cdn.JsDelivr.net/npm/p5> </script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<button class="importing" style="margin-top: 200px; float: right; margin-right: 350px;">Import Sheet</button>
 <div style="width:1300px;">
  <section class="sheetContainer">
    <!-- 여기에 시각화 표현 -->
    <!-- canvas -->
    <div id="canvas"></div>

  </section>

  <progress value="0"  max="15000" id="ProgressBar"></progress>

  <ul class="set2" style="margin-left: 500px;" id="drum">
    <img src="../static/src/images/drum.png">
    <audio src="../static/src/sound/drum.wav" id="drum_audio"></audio>
  </ul>

  <section class="musicContainer">
    <div class="task_num" id="task_one"><span class="task_text" id="task_one_text">Example 1. Reproduce the Beat</span></div>
    <br>
    <button class="videoControlButton" id="play" style="display:inline;">Start</button>
    <button class="videoControlButton" id="save" style="display:inline;"><span class="glyphicon glyphicon-save" id="saveGlyph"></span></button>
    <button class="videoControlButton" id="reset" style="display:inline;"><span class="glyphicon glyphicon-erase" id="eraseGlyph"></span></button>
  </section>
  
  <form action="/home" method="POST">
    <section class="movehomeContainer">
      <button class="videoControlButton" id="home" style="display:inline;"><span class="glyphicon glyphicon-home" id="homeGlyph"></span></button>
    </section>
  </form>

  <form action="/exploration-task_two_piano" method="POST" class="phaseForm">
      <section class="movepageContainer">
          <button class="arrow" id="nextpage" style="display:inline;"></button>
      </section>
  </form>

</div>

  <div id="custom_data" hidden>
    <ol id="custom_data_piano"> piano
        <li id="piano_shape">{{data["piano"]["shape"]}}</li>
        <li id="piano_texture">{{data["piano"]["texture"]}}</li>
        <li id="piano_palette_num">{{data["piano"]["palette_num"]}}</li>
        <li id="piano_palette_set">{{data["piano"]["palette_set"]}}</li>
        <li id="piano_interval">{{data["piano"]["interval"]}}</li>
        <li id="piano_size">{{data["piano"]["size"]}}</li>
        <li id="piano_line">{{data["piano"]["line"]}}</li>
    </ol>
    <ol id="custom_data_drum"> Drum
        <li id="drum_shape">{{data["drum"]["shape"]}}</li>
        <li id="drum_texture">{{data["drum"]["texture"]}}</li>
        <li id="drum_color">{{data["drum"]["color"]}}</li>
        <li id="drum_size">{{data["drum"]["size"]}}</li>
    </ol>
    <ol id="custom_data_haptic"> Haptic
        <li id="haptic_sensitivity">{{data["haptic"]["sensitivity"]}}</li>
        <li id="haptic_intensity">{{data["haptic"]["intensity"]}}</li>
    </ol>
  </div>

  <div id="user_name" hidden>{{User_Name}}</div>
  <div id="user_number" hidden>{{User_Number}}</div>
  <!--shader script-->
  <script type="x-shader/x-vertex" id="vertexshader">
    varying vec2 vUv;
        void main() {
          vUv = uv;
          gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }
    </script>
  <script type="x-shader/x-fragment" id="fragmentshader">
    uniform sampler2D baseTexture;
        uniform sampler2D bloomTexture;
        varying vec2 vUv;
        void main() {
          gl_FragColor = ( texture2D( baseTexture, vUv ) + vec4( 1.0 ) * texture2D( bloomTexture, vUv ) );
        }
    </script>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script> 
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
  <script type="text/javascript" defer src="../static/src/js/dist/Exploration_task_one_drum.js"></script>
  <script src ="https://cdn.jsdelivr.net/npm/stats-js@1.0.1/build/stats.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
  <audio data-key="71" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/tom-mid.wav"></audio>
</body>

</html>