<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Music::Palette</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../static/src/fonts/icomoon/style.css">
  <link rel="stylesheet" href="../static/src/css/owl.carousel.min.css">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/src/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Styles -->
  <link type="text/css" href="../static/src/css/shape.css" rel="stylesheet">
  <link type="text/css" href="../static/src/css/range.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
  <script defer src=https://cdn.JsDelivr.net/npm/p5> </script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

  <section class="menuContainer">
    <button type="button" class="button btnPush btnBlueGreen" id="pitchButton">음계</button>
    <button type="button" class="button btnPush btnBlueGreen" id="beatButton">비트</button>
  </section>


  <section class="shapeContainer" style="visibility: hidden;">
    <button type="button" class="btn btn-primary btn-circle-md" id="btn-circle"></button>
    <button type="button" class="btn btn-primary btn-square-md" id="btn-square"></button>
    <button type="button" class="btn btn-primary btn-triangle-md" id="btn-triangle"></button>
    <button type="button" class="btn btn-primary btn-star-md" id="btn-star"></button>
    <button type="button" class="btn btn-primary btn-decagon-md" id="btn-decagon"></button>
    <hr>
    <button type="button" class="textureButton" id="none"></button>
    <button type="button" class="textureButton" id="wood" style="background: url(../static/src/texture/wood3.jpeg)"></button>
    <button type="button" class="textureButton" id="stone" style="background: url(../static/src/texture/stone3.jpeg)"></button>
    <button type="button" class="textureButton" id="paper" style="background: url(../static/src/texture/paper.jpeg)"></button>
  </section>

  <!-- <section class="colorContainer"  style="display:none; margin-left: 5px;  background-color: rgb(250, 250, 250);" id="beat_area">
    <div id="beat_color">
      <div id="picker" style="padding:15px; padding-bottom:0px"></div>
      </div>
  </section> -->

  <section class="colorContainer"  style="margin-left: 5px;  background-color: rgb(250, 250, 250); visibility: hidden;" id="pitch_area">
    <div id="pitch_color">
      <div id="picker" style="padding:15px; padding-bottom:0px">
      </div>

      <div class="Picker" id="picker_satu">
        <p style="margin:0px"> Saturation</p> <div class="color" id="s_1" >&nbsp&nbsp</div><div class="color" id="s_2">&nbsp&nbsp</div><div class="color" id="s_3">&nbsp&nbsp</div><div class="color" id="s_4">&nbsp&nbsp</div><div class="color" id="s_5">&nbsp&nbsp</div><div class="color" id="s_6">&nbsp&nbsp</div><div class="color" id="s_7">&nbsp&nbsp</div><div class="color" id="s_8">&nbsp&nbsp</div><div class="color" id="s_9">&nbsp&nbsp</div><div class="color" id="s_10">&nbsp&nbsp</div><div class="color" id="s_11">&nbsp&nbsp</div><div class="color" id="s_12">&nbsp&nbsp</div>
      </div>

      <div class="Picker" id="picker_light">
        <p style="margin:0px;"> Lightness</p><div class="color" id="l_1" >&nbsp&nbsp</div><div class="color" id="l_2">&nbsp&nbsp</div><div class="color" id="l_3">&nbsp&nbsp</div><div class="color" id="l_4">&nbsp&nbsp</div><div class="color" id="l_5">&nbsp&nbsp</div><div class="color" id="l_6">&nbsp&nbsp</div><div class="color" id="l_7">&nbsp&nbsp</div><div class="color" id="l_8">&nbsp&nbsp</div><div class="color" id="l_9">&nbsp&nbsp</div><div class="color" id="l_10">&nbsp&nbsp</div><div class="color" id="l_11">&nbsp&nbsp</div><div class="color" id="l_12">&nbsp&nbsp</div>
      </div>
      <hr>
    </div>

    <section class="color_candidate" id="palettes_candi">
      <div class="Palette" id="palette1">
        <p style="margin:0px;"> RGB</p>
        <div class="color" id="p1_1" >&nbsp&nbsp</div><div class="color" id="p1_2">&nbsp&nbsp</div><div class="color" id="p1_3">&nbsp&nbsp</div><div class="color" id="p1_4">&nbsp&nbsp</div><div class="color" id="p1_5">&nbsp&nbsp</div><div class="color" id="p1_6">&nbsp&nbsp</div><div class="color" id="p1_7">&nbsp&nbsp</div><div class="color" id="p1_8">&nbsp&nbsp</div><div class="color" id="p1_9">&nbsp&nbsp</div><div class="color" id="p1_10">&nbsp&nbsp</div><div class="color" id="p1_11">&nbsp&nbsp</div><div class="color" id="p1_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette2">
        <p  style="margin:0px;"> OGP</p>
        <div class="color" id="p2_1">&nbsp&nbsp</div><div class="color" id="p2_2">&nbsp&nbsp</div><div class="color" id="p2_3">&nbsp&nbsp</div><div class="color" id="p2_4">&nbsp&nbsp</div><div class="color" id="p2_5">&nbsp&nbsp</div><div class="color" id="p2_6">&nbsp&nbsp</div><div class="color" id="p2_7">&nbsp&nbsp</div><div class="color" id="p2_8">&nbsp&nbsp</div><div class="color" id="p2_9">&nbsp&nbsp</div><div class="color" id="p2_10">&nbsp&nbsp</div><div class="color" id="p2_11">&nbsp&nbsp</div><div class="color" id="p2_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette3">
        <p style="margin:0px;">YBP</p>
        <div class="color" id="p3_1">&nbsp&nbsp</div><div class="color" id="p3_2">&nbsp&nbsp</div><div class="color" id="p3_3">&nbsp&nbsp</div><div class="color" id="p3_4">&nbsp&nbsp</div><div class="color" id="p3_5">&nbsp&nbsp</div><div class="color" id="p3_6">&nbsp&nbsp</div><div class="color" id="p3_7">&nbsp&nbsp</div><div class="color" id="p3_8">&nbsp&nbsp</div><div class="color" id="p3_9">&nbsp&nbsp</div><div class="color" id="p3_10">&nbsp&nbsp</div><div class="color" id="p3_11">&nbsp&nbsp</div><div class="color" id="p3_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette4">
        <p style="margin:0px;"> GBP</p>
        <div class="color" id="p4_1">&nbsp&nbsp</div><div class="color" id="p4_2">&nbsp&nbsp</div><div class="color" id="p4_3">&nbsp&nbsp</div><div class="color" id="p4_4">&nbsp&nbsp</div><div class="color" id="p4_5">&nbsp&nbsp</div><div class="color" id="p4_6">&nbsp&nbsp</div><div class="color" id="p4_7">&nbsp&nbsp</div><div class="color" id="p4_8">&nbsp&nbsp</div><div class="color" id="p4_9">&nbsp&nbsp</div><div class="color" id="p4_10">&nbsp&nbsp</div><div class="color" id="p4_11">&nbsp&nbsp</div><div class="color" id="p4_12">&nbsp&nbsp</div>
        </div>
      <div class="Palette" id="palette5">
        <p style="margin:0px;"> Rainbow</p>
        <div class="color" id="p5_1">&nbsp&nbsp</div><div class="color" id="p5_2">&nbsp&nbsp</div><div class="color" id="p5_3">&nbsp&nbsp</div><div class="color" id="p5_4">&nbsp&nbsp</div><div class="color" id="p5_5">&nbsp&nbsp</div><div class="color" id="p5_6">&nbsp&nbsp</div><div class="color" id="p5_7">&nbsp&nbsp</div><div class="color" id="p5_8">&nbsp&nbsp</div><div class="color" id="p5_9">&nbsp&nbsp</div><div class="color" id="p5_10">&nbsp&nbsp</div><div class="color" id="p5_11">&nbsp&nbsp</div><div class="color" id="p5_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette6">
        <p style="margin:0px;"> Sunset</p>
        <div class="color" id="p6_1">&nbsp&nbsp</div><div class="color" id="p6_2">&nbsp&nbsp</div><div class="color" id="p6_3">&nbsp&nbsp</div><div class="color" id="p6_4">&nbsp&nbsp</div><div class="color" id="p6_5">&nbsp&nbsp</div><div class="color" id="p6_6">&nbsp&nbsp</div><div class="color" id="p6_7">&nbsp&nbsp</div><div class="color" id="p6_8">&nbsp&nbsp</div><div class="color" id="p6_9">&nbsp&nbsp</div><div class="color" id="p6_10">&nbsp&nbsp</div><div class="color" id="p6_11">&nbsp&nbsp</div><div class="color" id="p6_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette7">
        <p style="margin:0px;"> Aqua</p>
        <div class="color" id="p7_1">&nbsp&nbsp</div><div class="color" id="p7_2">&nbsp&nbsp</div><div class="color" id="p7_3">&nbsp&nbsp</div><div class="color" id="p7_4">&nbsp&nbsp</div><div class="color" id="p7_5">&nbsp&nbsp</div><div class="color" id="p7_6">&nbsp&nbsp</div><div class="color" id="p7_7">&nbsp&nbsp</div><div class="color" id="p7_8">&nbsp&nbsp</div><div class="color" id="p7_9">&nbsp&nbsp</div><div class="color" id="p7_10">&nbsp&nbsp</div><div class="color" id="p7_11">&nbsp&nbsp</div><div class="color" id="p7_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette8">
        <p style="margin:0px;"> Aurora</p>
        <div class="color" id="p8_1">&nbsp&nbsp</div><div class="color" id="p8_2">&nbsp&nbsp</div><div class="color" id="p8_3">&nbsp&nbsp</div><div class="color" id="p8_4">&nbsp&nbsp</div><div class="color" id="p8_5">&nbsp&nbsp</div><div class="color" id="p8_6">&nbsp&nbsp</div><div class="color" id="p8_7">&nbsp&nbsp</div><div class="color" id="p8_8">&nbsp&nbsp</div><div class="color" id="p8_9">&nbsp&nbsp</div><div class="color" id="p8_10">&nbsp&nbsp</div><div class="color" id="p8_11">&nbsp&nbsp</div><div class="color" id="p8_12">&nbsp&nbsp</div>
      </div>
      <div class="Palette" id="palette9">
        <p style="margin:0px;"> Default</p>
        <div class="color" id="p9_1">&nbsp&nbsp</div><div class="color" id="p9_2">&nbsp&nbsp</div><div class="color" id="p9_3">&nbsp&nbsp</div><div class="color" id="p9_4">&nbsp&nbsp</div><div class="color" id="p9_5">&nbsp&nbsp</div><div class="color" id="p9_6">&nbsp&nbsp</div><div class="color" id="p9_7">&nbsp&nbsp</div><div class="color" id="p9_8">&nbsp&nbsp</div><div class="color" id="p9_9">&nbsp&nbsp</div><div class="color" id="p9_10">&nbsp&nbsp</div><div class="color" id="p9_11">&nbsp&nbsp</div><div class="color" id="p9_12">&nbsp&nbsp</div>
      </div>
    </section>
  </div>
</div>

</section>

  <section class="colorContainer"  style="margin-left: 5px;  background-color: rgb(250, 250, 250); visibility: hidden;" id="beat_area">
    <div id="picker2" style="padding:15px; padding-bottom:0px"></div>
    <div class="Picker" id="picker_beat">
      <p style="margin:0px"> Color</p> <div class="color" id="b_1" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</div>
    </div>
  </section>


  <section class="pianoContainer">
    <ul class="set">
      <li class="white do-1" id="key1"></li>
      <li class="black do-s-1"id="key2" ></li>
      <li class="white re-1"id="key3"></li>
      <li class="black re-s-1"id="key4"></li>
      <li class="white mi-1"id="key5"></li>
      <li class="white fa-1"id="key6"></li>
      <li class="black fa-s-1"id="key7"></li>
      <li class="white sol-1"id="key8"></li>
      <li class="black sol-s-1"id="key9"></li>
      <li class="white la-1"id="key10"></li>
      <li class="black la-s-1"id="key11"></li>
      <li class="white si-1"id="key12"></li>

      <li class="white do-2" id="key13"></li>
      <li class="black do-s-2" id="key14"></li>
      <li class="white re-2" id="key15" ></li>
      <li class="black re-s-2" id="key16"></li>
      <li class="white mi-2"id="key17"></li>
      <li class="white fa-2"id="key18"></li>
      <li class="black fa-s-2"id="key19"></li>
      <li class="white sol-2"id="key20"></li>
      <li class="black sol-s-2"id="key21"></li>
      <li class="white la-2"id="key22"></li>
      <li class="black la-s-2"id="key23"></li>
      <li class="white si-2"id="key24"></li>

      <li class="white do-3" id="key25"></li>
      <li class="black do-s-3"id="key26"></li>
      <li class="white re-3"id="key27"></li>
      <li class="black re-s-3"id="key28"></li>
      <li class="white mi-3"id="key29"></li>
      <li class="white fa-3"id="key30"></li>
      <li class="black fa-s-3"id="key31"></li>
      <li class="white sol-3"id="key32"></li>
      <li class="black sol-s-3"id="key33"></li>
      <li class="white la-3"id="key34"></li>
      <li class="black la-s-3"id="key35"></li>
      <li class="white si-3"id="key36"></li>
    </ul>
  </section>  

  <section class="sheetContainer">
    <!-- 여기에 시각화 표현 -->
    <!-- canvas -->
    <div id="canvas"></div>
  </section>

  <progress value="0" max="15000" id="ProgressBar"></progress>
  
    <ul class="set2" style="display: none; margin-left: 400px;" id="drum">
      <img src="../static/src/images/drum.png">
      <audio src="../static/src/sound/drum.wav" id="drum_audio"></audio>
    </ul>
    


  <section class="visualContainer_pitch" style="visibility: hidden;">
    <br>
    <div class="pitchDIV" style="margin-left: 20px; font-size: 18px;">음의 높이 디자인</div>
    <div class="customMenu">
      <br>
      <p class="smallTitle" style="display:inline;">간격</p>
      <input class="range" type="range" name="intensity" id="slide-pitch-interval" value="70" min="0" max="100" style="display:inline;"></input>
      <hr class="hrs">
      <p class="smallTitle" style="display:inline;">크기</p>
      <input class="range" type="range" name="intensity" id="slide-pitch-size" value="50" min="0" max="100" style="display:inline;"></input>
      <hr class="hrs">
      <p class="smallTitle" id="liner" style="display:inline;">선의 유무</p>
      &nbsp&nbsp&nbsp&nbsp
      <input class="checkbox" type="checkbox" id="pitch-checkbox" checked style="display:inline;">
    </div>
  </section>

  <section class="visualContainer_beat" style="visibility: hidden;">
    <br>
    <div class="beatDIV" style="margin-left: 20px; font-size: 18px;">박자 디자인</div>
    <div class="customMenu">
      <br>
      <p class="smallTitle" style="display:inline;">크기</p>
      <input class="range" type="range" name="intensity" id="slide-beat-size" value="0" min="0" max="100" style="display:inline;"></input>
    </div>
  </section>

  <section class="hapticContainer" style="visibility: hidden;">
    <br>
    <div class="canvasDIV" style="margin-left: 20px; font-size: 18px;">진동 디자인</div>
    <div class="customMenu">
      <br>
      <p class="smallTitle" style="display:inline;">감도</p>
        <input class="range" type="range" name="intensity" id="slide-haptic-sensitivity" value="0" min="0" max="100" style="display:inline;"></input>
      <hr class="hrs">
      <p class="smallTitle" style="display:inline;">세기</p>
      <input class="range" type="range" name="intensity" id="slide-haptic-intensity" value="0" min="0" max="100" style="display:inline;"></input>
    </div>
  </section>

  <section class="musicContainer">
    <!-- <button class="videoControlButton" id="play" style="display:inline;"><span class="glyphicon glyphicon-play" id="playGlyph"></span></button> -->
    <button class="videoControlButton" id="save" style="display:inline;"><span class="glyphicon glyphicon-save" id="saveGlyph"></span></button>
    <button class="videoControlButton" id="reset" style="display:inline;"><span class="glyphicon glyphicon-erase" id="eraseGlyph"></span></button>
    <form action="/exploration-task_one_drum" method="POST" class="phaseForm" style="display:inline;">
      <button class="videoControlButton" id="task" style="display:inline;"><span class="glyphicon glyphicon-arrow-right" id="taskGlyph"></span></button>
    </form>
  </section>

  <div id="custom_data" hidden>
    <ol id="custom_data_piano"> piano
        <li id="piano_shape">{{data["piano"]["shape"]}}</li>
        <li id="piano_texture">{{data["piano"]["texture"]}}</li>
        <li id="piano_palette_num">{{data["piano"]["palette_num"]}}</li>
        <li id="piano_palette_set">{{data["piano"]["palette_set"]}}</li>
        <li id="piano_interval">{{data["piano"]["interval"]}}</li>
        <li id="piano_size">{{data["piano"]["size"]}}</li>
        <li id="piano_line">{{data["piano"]["line"]}}</li>
    </ol>
    <ol id="custom_data_drum"> Drum
        <li id="drum_shape">{{data["drum"]["shape"]}}</li>
        <li id="drum_texture">{{data["drum"]["texture"]}}</li>
        <li id="drum_color">{{data["drum"]["color"]}}</li>
        <li id="drum_size">{{data["drum"]["size"]}}</li>
    </ol>
    <ol id="custom_data_haptic"> Haptic
        <li id="haptic_sensitivity">{{data["haptic"]["sensitivity"]}}</li>
        <li id="haptic_intensity">{{data["haptic"]["intensity"]}}</li>
    </ol>
  </div>

  <div id="user_name" hidden>{{User_Name}}</div>
  <div id="user_number" hidden>{{User_Number}}</div>



  <!--shader script-->
  <script type="x-shader/x-vertex" id="vertexshader">
    varying vec2 vUv;
        void main() {
          vUv = uv;
          gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }
    </script>
  <script type="x-shader/x-fragmecnt" id="fragmentshader">
    uniform sampler2D baseTexture;
        uniform sampler2D bloomTexture;
        varying vec2 vUv;
        void main() {
          gl_FragColor = ( texture2D( baseTexture, vUv ) + vec4( 1.0 ) * texture2D( bloomTexture, vUv ) );
        }
    </script>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script> 
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js"></script>
  <script type="module" defer src="../static/src/js/dist/exploration.js"></script>
  <script type="module" defer src="../static/src/js/forUI/buttonColor.js"></script>
  <!-- <script type="module" defer src="../static/src/js/forUI/changePlay.js"></script> -->
  <script type="module" defer src="../static/src/js/forUI/rangeSlider.js"></script>
  <script src ="https://cdn.jsdelivr.net/npm/stats-js@1.0.1/build/stats.min.js"></script>
  <!-- <script type="module" src="/static/src/js/forUI/ColorPicker.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
  <audio data-key="71" src="https://raw.githubusercontent.com/ArunMichaelDsouza/javascript-30-course/master/src/01-javascript-drum-kit/sounds/tom-mid.wav"></audio>

</body>

</html>