<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VizHap :: SCI_LAB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Style -->
    <link type="text/css" href="../static/css/index_login.css" rel="stylesheet">
</head>

<body>
    <div class="login">
        <div class="form">
          <form action="/letsgo" method="POST" class="login-form">
            <p>🎨 Amodal Music Palette</p>
            <input type="text" name="id_name" placeholder="이름"/>
            <input type="text" name="id_number" placeholder="참여자 번호"/>
            <button type="submit">들어가기</button>
          </form>  
        </div>
    </div>
</body>
</html>