<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VizHap :: SCI_LAB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Style -->
    <link type="text/css" href="../static/css/menu.css" rel="stylesheet">
</head>

<body>
  <div class="menuForm">
    <form action="/custom/pitch" method="POST" class="menu-form">
      <button type="submit" class="mainMenu" id="customMenu">커스텀(Custom)</button>
    </form> 

    <form action="/explore" method="POST" class="menu-form">
      <button type="submit" class="mainMenu" id="exploreMenu">탐색(Explore)</button>
    </form>  

    <form action="/listen" method="POST" class="menu-form">
      <button type="submit" class="mainMenu" id="listenMenu">듣기(Listen)</button>
    </form> 
  </div>
</body>
</html>