<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music::Palette</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/src/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/src/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/src/css/bootstrap.min.css">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/menu.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">

        <div class="profile-card js-profile-card">
          <div class="profile-card__img">
            <img src="../static/src/images/cutecat.jpeg" alt="profile card">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">{{User_Name}}</div>
            <div class="profile-card-loc">
                <span class="profile-card-loc__txt">
                  P{{User_Number}}
                </span>
              </div>
              
            <div class="profile-card__txt">실험에 참여해주셔서 감사합니다.</div>

            <div class="profile-card-ctr">
                <form action="/exploration" method="POST" class="phaseForm">
                    <button class="phaseButton" id="1Phase">1회기</button>
                </form>
                <!-- <form action="/exploration/task_two_piano" method="POST" class="phaseForm"> -->
                    <button class="phaseButton" id="2Phase">2회기</button>
                <!-- </form> -->
                <form action="/exploration-task_one_drum" method="POST" class="phaseForm">
                    <button class="phaseButton" id="3Phase">3회기</button>
                </form>
                <form action="/test" method="POST" class="phaseForm">
                    <button class="phaseButton" id="4Phase">4회기</button>
                </form>
                <form action="/listening" method="POST" class="phaseForm">
                    <button class="phaseButton" id="5Phase">5회기</button>
                </form>
                <form action="/dev" method="POST" class="phaseForm">
                    <button class="phaseButton" id="devButton" >dev</button>
                </form>
            </div>
      
    </div>

</body>
</html>