<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music::Palette</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/src/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/src/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/src/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/linux-biolinum" type="text/css"/>
    <link type="text/css" href="../static/src/css/menu.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">

        <div class="profile-card js-profile-card">
          <div class="profile-card__img">
            <img src="../static/src/images/user.png" alt="profile card">
          </div>
      
          <div class="profile-card__cnt js-profile-cnt">
            <div class="profile-card__name">{{User_Name}}</div>
            <div class="profile-card-loc">
                <span class="profile-card-loc__txt" style="font-size: 20px;">
                  P{{User_Number}}
                </span>
              </div>
              
            <div class="profile-card__txt" style="font-size: 20px;">Welcome to the Cross-modal Music Palette.</div>

            <div class="profile-card-ctr" style="margin-left: 100px;">
                <form action="/test" method="POST" class="phaseForm">
                    <button class="phaseButton" id="1Phase">Session 1</button>
                </form>
                <form action="/exploration_default" method="POST" class="phaseForm">
                    <button class="phaseButton" id="2Phase">Session 2</button>
                </form>
                <form action="/exploration" method="POST" class="phaseForm">
                    <button class="phaseButton" id="3Phase">Session 3</button>
                </form>
                <form action="/exploration" method="POST" class="phaseForm">
                    <button class="phaseButton" id="4Phase">Session 4</button>
                </form>
                <form action="/test" method="POST" class="phaseForm">
                    <button class="phaseButton" id="5Phase">Session 5</button>
                </form>
                <form action="/dev" method="POST" class="phaseForm">
                    <button class="phaseButton" id="devButton" style="visibility: hidden;"> dev</button>
                </form>
            </div>
      
    </div>

</body>
</html>