<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VizHap :: SCI_LAB</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Style -->
    <link type="text/css" href="../static/css/mainMenu-style.css" rel="stylesheet">
</head>

<body>
    <h1>Source Separation</h1>
        <h2>신난다~</h2>

    <form action="/loading" method="POST" form autocomplete="off" enctype="multipart/form-data">
        <label for="SSfile" class="file"> Pick a Music for Instrument Separation 🎺
            <input type="file" id="SS_input" name="SSfile" accept="audio/mp3"/>
        </label>
        <button type="submit" id="loading" value="Processing" class="button-73" role="button">Upload the file</button>
    </form>

</body>
</html>