<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music::Palette::test_menu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/src/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../static/src/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/src/css/bootstrap.min.css">
    <!-- Style -->
    <link type="text/css" href="../static/src/css/testmenu.css" rel="stylesheet">
</head>

<body> 
    <section class="testmenuGroups">

        <form action="/test/groupA" method="POST">
            <button class="button-82-pushable" role="button" id="A_group">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text" style="font-size: 70px;">
                    A
                </span>
            </button>
        </form>  

        <form action="/test/groupB" method="POST">
            <button class="button-82-pushable" role="button" id="B_group">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text" style="font-size: 70px;">
                    B
                </span>
            </button>
        </form>  
        
        <form action="/test/groupC" method="POST">
            <button class="button-82-pushable" role="button" id="C_group">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text" style="font-size: 70px;">
                    C
                </span>
            </button>
        </form>

        <form action="/test/groupD" method="POST">
            <button class="button-82-pushable" role="button" id="D_group">
                <span class="button-82-shadow"></span>
                <span class="button-82-edge"></span>
                <span class="button-82-front text" style="font-size: 70px;">
                    D
                </span>
            </button>
        </form>
    </section>

</body>
</html>